/* react bootstrap link */
@import "bootstrap/dist/css/bootstrap.min.css";

/* google fonts link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,900;1,300;1,500;1,700&display=swap");

/* styling of the body */
body {
  font-family: "Poppins", sans-serif;
}

// styling the app class
.app {
  .app-header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;

    // styling the button
    button {
      border: none;
      background: transparent;
      display: flex;
      height: 40px;
      width: 40px;
      justify-content: center;
      align-items: center;
    }
  }

  // styling the display-term class
  .display-term {
    padding-top: 30px;
    margin-bottom: 30px;

    // styling the list
    ul {
      padding: 0;
      margin: 0;
      display: flex;
      column-gap: 3px;
      justify-content: center;

      // styling the list item
      li {
        border: 2px solid #3b3b3b;
        display: inline-flex;
        font-size: 20px;
        font-weight: 300;
        align-items: center;
        justify-content: center;
        height: 35px;
        width: 35px;
        border-radius: 4px;
        text-transform: uppercase;
      }
    }
  }
}
